html {
    overflow: auto;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: auto;
    min-width: 400px;
    height: auto;
}

body {
    margin: 0;
}

#title {
    margin: 0;
    padding-top: 4vw;
    padding-bottom: 4vw;
    background-color: lightgray;
    font-size: 5vw;
    text-align: center;
    font-family: Georgia;
}

img, #octopus {
    float: right;
    width: 50vw;
}